<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.caoshd.dbexpt.mapper.IFileExportWorkspaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="space.caoshd.dbexpt.po.FileExportWorkspacePO">
        <id column="id" property="id" />
        <result column="instance_id" property="instanceId" />
        <result column="instance_parent_id" property="instanceParentId" />
        <result column="file_path" property="filePath" />
        <result column="file_name" property="fileName" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumns">
        id,
        instance_id,
        instance_parent_id,
        file_path,
        file_name,
        version,
        status,
        create_time,
        update_time,
        update_by
    </sql>

</mapper>
